<main class="main-container">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">329</p>
        <p class="subtitle">Total Posts</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">+20 %</p>
        <p class="subtitle">Total Page Views</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">201</p>
        <p class="subtitle">Unique Visitor</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">12 %</p>
        <p class="subtitle">Purchases</p>
      </article>
    </div>
  </div>

  <header class="is-clearfix">
    <div>

    </div>
    <hr>
  </header>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box transparent">
        <p class="title">329</p>
        <p class="subtitle">Total Visits</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">+20 %</p>
        <p class="subtitle">Total Page Views</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">201</p>
        <p class="subtitle">Unique Visitor</p>
      </article>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child box accent">
        <p class="title">-12 %</p>
        <p class="subtitle">Purchases</p>
      </article>
    </div>
  </div>

  <header class="is-clearfix">
    <div>
    </div>
    <hr>
  </header>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <div>
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="#">Bulma</a></li>
              <li><a href="#">Components</a></li>
              <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
            </ul>
          </nav>
          <div class="content">
            <p>A simple breadcrumb component to improve your navigation experience.</p>
          </div>
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="tabs is-centered">
          <ul>
            <li><a>Elements</a></li>
            <li class="is-active"><a>Components</a></li>
            <li><a>Widgets</a></li>
            <li><a>Tiles</a></li>
          </ul>
        </div>
        <div class="content">
          <p>Simple responsive horizontal navigation tabs, with different styles.</p>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-ancestor">
