<aside class="sidebar">
  <nav class="menu">
    <div class="menu-category">
      <header class="category-header has-color-white">Dashboard</header>
      <ul class="menu-list">
        <li><a routerLink='create-post'>Create Post</a></li>
        <li><a>All Posts</a></li>
      </ul>
    </div>
    <div class="menu-category">
      <!-- <header class="category-header">Elements</header> -->
      <ul class="menu-list">
        <!-- <li><a>Box</a></li>
        <li><a>Button</a></li>
        <li><a>Content</a></li>
        <li><a>Delete</a></li> -->
      </ul>
    </div>
  </nav>
</aside>
