.sidebar {
  padding-left: calc(2rem - 0.75rem);
  padding-right: calc(2rem - 0.75rem);
  position: absolute;
}

.sidebar .category-header {
  padding: 0.5em 0.75em;
}

.sidebar .menu {
  position: fixed;
  width: calc(13rem - 2.5rem);
  max-width: inherit;
}

.sidebar .menu-list a {
  font-size: 0.875rem;
  line-height: 24px;
  color: #949ba2;
}

.sidebar:before {
  content: "";
  background-color: #272b32;
  width: 13rem;
  position: fixed;
  border-right: 1px solid #3B414C;
}

.sidebar,
.sidebar:before {
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar,
.main-container {
  padding-top: 4rem;
}

.has-color-white {
  color: white;
  /* font-size: 1.5rem; */
}
