<section class="container">
  <div style="width: 60%; margin-left: 15em;">
    <form action="">
      <label for="title">
        <h1 class="title is-4 has-text-white">Title</h1>
      </label>
      <br>
      <input id="title" type="text" style="text-align: left; border: none; width: 99%; border-radius: 0%;" name=""
        id="">
      <br><br>
      <label for="title">
        <h1 class="title is-4 has-text-white">Description</h1>
      </label>
      <br>
      <ckeditor [editor]="Editor"></ckeditor>
    </form>
  </div>
</section>
